<html>
  <head>
    <title>Homepage</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

    <div class="form">
        <h2>send message</h2>
        <form method="POST" action="/new">
           <li>
               <label for="messageuser">name</label>
               <input type="text" name="messageuser" id="user">
           </li>
           <li>
               <label for="messagetext">message</label>
               <input type="text" name="messagetext" id="text">
           </li>
           <button type="submit">submit</button>
        </form>

        <button >
            <a href="/" style="font-size: 1rem;">back</a>
        </button>
    </div>

  </body>
</html>
