<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/form.css">
  </head>
  <body>
    
    <div class="form">
        <%- include("partials/errors.ejs") %>
        <h4>new message</h4>
<!--       <%- include("partials/errors.ejs") %>  -->
        <form method="POST" action="/new">
           <li>
               <label for="messageuser">user: </label>
               <input type="text" name="messageuser" id="user">
           </li>
           <li>
               <label for="messagetext">message</label>
               <textarea type="text" name="messagetext" id="text"></textarea>
           </li>
        
           <button type="submit" style="background-color: white; border-radius: 6px; font-size: 1.1rem;">
                <span style="font-size: 1.3rem;">&#128640;</span> send
            </button>
        </form>
        <button >
            <a href="/#bottom" name="bottom" style="font-size: 1rem;">back</a>
        </button>
    </div>

  </body>
</html>
