<!-- user.ejs -->
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>users</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
    <div class="app">
    <h2>&#128508; mini messages app &#128508; </h2>
        <h3>messages</h3>
        <% if (locals.rows) {%>
        <% rows.forEach((row) => { %>
        <div class="message">
            <h4 style="margin: 5px;"><%= row.messageuser %> </h4>
            <p><%= row.messagetext %></p>
            <p style="text-align: end; font-size: 0.9rem;"><%= row.added %></p>
        </div> 
         <% }); %>
         <% }%>
        <button class="add">
            <a href="/#bottom">back</a>
        </button>
    

    </div>

  </body>
</html>

