body{
    background-color: rgb(22, 15, 57);
    font-size: 20px;
    padding: 0px;
}
.app{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-width: 300px;
    max-width: 600px;
    margin-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
}


.top{
    background-color:lightskyblue;
    margin-bottom: 100px;
    position: fixed;
    top: 2%;
    margin: 10px;
    border-radius: 10px;
    width: fit-content;
    max-width: 500px;
    min-width: 360px;
    padding-left: 15px;
}

h2{
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-bottom: 1px;
    margin: 0px;
    width: fit-content;
    margin: auto;
   
}
h3{
    color: white;
    margin-left: 20px;
}
h4{
    margin: 5px;
    margin-bottom: 20px;
    background-color: rgba(31, 103, 248, 0.754);
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
    width: 120px;
    border-radius: 5px;
    padding: 2px;
}
h5{
    text-align: center;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 25px;
    padding-bottom: 5px;
    width: fit-content;    
}
.message{
    margin: 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    min-width: 360px;
    padding-left: 15px;
    background-image: linear-gradient(140deg, rgb(142, 138, 138), white, rgb(173, 169, 169), white);
}
i{
    font-size: 1rem;
    color: rgb(15, 15, 70);
    font-weight: 100;
    text-shadow: none;
}
p{
    padding-right: 10px;
    margin: 5px;
    font-size: 1rem;
}
a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}
button{
    background-color: aquamarine;
    margin: 5px;
    font-size: 0.9rem;
}
.add{
    color: red;
    margin:20px;
}
